.places {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 80px;
  padding: 0;
  width: calc(100% - 296px);
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px auto 0;
    width: calc(100% - 48px);
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    width: calc(100% - 32px);
    gap: 50px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 480px) {
  .places {
    width: 100%;
    margin: 64px auto 0;
  }
}