.info__text {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  max-width: 690px;
  width: 100%;
}
  
@media only screen and (max-width: 768px) {
  .info__text {
    max-width: 720px;
  }
}