.header__link-lang {
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}
  
@media screen and (max-width: 420px) {
  .header__link-lang {
    line-height: 20px;
    font-size: 18px;
  }
}