.footer {
  justify-content: space-between;
  padding: 92px 48px 24px 48px;
  flex-wrap: wrap;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px auto auto 16px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}
