.place__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 925px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 450px) {
  .place__image {
    width: 100%;
    object-fit: cover;
  }
}